<div class="edit_list_container">
  <h1>edit livelist title</h1>

  <%= render 'form' %>

  <p class="delete"><%= link_to 'delete', list_path, :method => :delete, :data => { :confirm => 'are you sure you want to delete this list?' } %></p>
  <p><%= link_to 'back', :back %></p>
</div>