<div class="live_lists_container">
  <h1>My livelists</h1>

  <div class="lists">
    <% @lists.each do |list| %>
      <a href="/lists/<%= list.id %>">
        <div class="list" style="background-image: url(<%= list.goals.where(:complete => true).last.image_url %>); background-size: contain;">
          <p class="list_name"><%= list.name %></p>
          <a class="edit" href="/lists/<%= list.id %>/edit"><i class="fa fa-pencil-square-o"></i></a>
          <img src="" alt="">
        </div>
      </a>
    <% end %>
    <a href="/lists/new">
      <div class="add_new">
        <p>add new</p>
        <i class="fa fa-plus"></i>
      </div>
    </a>
  </div>
</div>