<div class="login_page_container">
  <div class="white_container">
    <div class="about_head">
      <h1>about.</h1>
    </div>
    <a href="/login">
      <div class="about-button">
        <p>login.</p>
      </div>
    </a>
    <div id="about_content">
      <h2>Start living. Get inspired. Do shit.</h2>
      <p>Livelist is a social bucketlist app where you can track the things you want to do in life and the things you’ve done... (and then brag about them of course).</p>
      <p>Follow your friends to see the cool things they have ticked off their livelists and get inspiration for your own. You can even browse global to see the amazing things that people are doing all over the world!</p>
      <p>Get started by creating your own livelist, add goals to it off the top of your own head and then get inspiration from others. If you see something you want to do, simply click ‘add’ and it will be added to your own livelist.</p>
      <p>Next is the fun part… get out there and start ticking things off! When you complete a goal on your livelist upload a photo as proof and revel in the glory.</p>
    </div>
    <a href="/sign_up"><button class="sign_me_up_button">sign me up</button></a>
  </div>
</div>