<h1>friends</h1>

<p>Find more friends by connecting with instagram!</p>

<a href="/oauth/connect">Connect with Instagram</a>

<p>Your Friends</p>

<% @friends.each do |friend| %>
<p><%= friend[:display_name] %></p>
<% end %>