/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */
 @import "bourbon";
 @import "neat";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans|Indie+Flower);
 @import "login";
 @import "about";

html, body {
  border: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}


.nav_bar {
  background-color: rgba(0, 0, 0 , 0.8);
  position: fixed;
  width: 100%;
  height: 54px;
}

.nav_bar a {
  color: white;
  text-decoration: none;
}

.nav_bar li {
  color: white;
  display: inline-block;
  margin: 0 20px;
  font-family: 'Open Sans', sans-serif;
}

.current_user {
  font-size: 0.8em;
}

.nav_bar li a:hover {
  color: rgba(200, 200, 200, 1);
}

.nav_bar nav {
  margin-right: 0;
  display: inline-block;
  float: right;
}

.nav_logo {
  font-size: 2.9em;
  margin: 0 0 0 10px;
  display: inline-block;
}

.nav_logo a:hover {
  color: rgba(200, 200, 200, 1);
}

.side_bar {
  background-color: rgba(250, 250, 250, 1);
  width: 200px;
  height: 100%;
  position: fixed;

}
.side_bar ul {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.side_bar li {
  width: 90%;
  padding: 5px 0 5px 20px;
  border-bottom: solid 1px rgba(200, 200, 200, 1);
  margin: 0;
}
.side_bar a {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.side_bar a:hover {
  color: rgba(150, 150, 150, 1);
}

.spacer {
  height: 54px;

}

.goals_complete {
  width: 61%;
  display: inline-block;
  margin-left: 205px;
  border-right: solid 1px rgba(0, 0, 0, 0.5);
  font-family: 'Open Sans', sans-serif;
  padding-right: 0;
}

.activity {
  margin-left: 1.5%;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  width: 26.5%;
  display: inline-block;
  padding: 2%;
  vertical-align: top;
}
.photo_info {
  height: 60px;
}

.goals_complete p {
  margin: 0;
  font-family: 'Indie Flower', cursive;
}

.show_image {
  width: 100%;
  display: inline-block;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}

.show_image img {
  width: 100%;
}

.goals_to_do {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  font-family: 'Open Sans', sans-serif;
  margin-left: 1%;
}

.goals_to_do .item {
  border-bottom: solid 1px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
}

.goals_to_do div a {
  text-decoration: none;
  color: grey;
}

.user_div {
  vertical-align: top;
  margin-top: 5px;
  display: inline-block;
}

.goals_to_do div p {
  font-size: 0.9em;
  display: inline-block;
  margin: 0;
}

.add {
  font-size: 0.8em;
  display: inline-block;
  text-decoration: none;
  color: grey;
  font-family: 'Open Sans', sans-serif;
}

.add:hover {
  color: rgba(50,50,50,1);
}

.mini_profile_pic {
  height: 30px;
}

.user_name {
  text-decoration: none;
  color: grey;
  font-size: 0.8
}

.user_name:hover {
    color: rgba(50,50,50,1);
}
.newsfeed_container {
  width: 100%;
}

.friends_container {
  width: 80%;
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
}

.instagram_connect {
  background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  padding: 30px;
}



.live_lists_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;

}

.add_new {
  height: 200px;
  width: 200px;
  border: dashed 2px rgba(0, 0, 0 , 0.8);
  background-color: rgba(0, 0, 0 , 0.1);
  text-align: center;
  margin: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
}

.add_new:hover {
  background-color: rgba(0, 0, 0 , 0.2);
}
.add_new p {
  text-decoration: none;
  color: rgba(0, 0, 0 , 0.8);
  font-size: 1.25em;
}

.add_new i {
font-size: 4em;
color: rgba(0, 0, 0 , 0.8);
}

.list {
  height: 200px;
  width: 200px;
  border: solid 2px rgba(0, 0, 0 , 0.8);
  background-color: rgba(0, 0, 0 , 0.1);
  text-align: center;
  margin: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
}

.list:hover {
  background-color: rgba(0, 0, 0 , 0.2);
}

.list_name {
  font-size: 3em;
  font-family: 'Indie Flower', cursive;
  color: rgba(0, 0, 0 , 0.8);
  margin-top: 60px;
}

.edit {
  display: inline-block;
  margin-left: -220px;
  color: black;
  font-size: 1.5em;
  margin-top: 10px;
}

.delete {
  display: inline-block;
  margin-left: 120px;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
}

.edit_list_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
}

.edit_list_container button {
  background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  border: solid 1px black;
}

.edit_list_container button:hover {
  background-color: rgba(100, 100, 100 , 0.8);
}

.manage_list_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
}

.to_do_list {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  border: solid 1px rgba(0, 0, 0, 0.5);
}

.to_do_list h3 {
  margin-left: 20px;
}

.to_do_list p {
  display: inline-block;
  margin: 5px 20px 0 20px;
}

.achievements {
  display: inline-block;
  width: 40%;
  vertical-align: top;
}

.goal_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
}

.goal_container button {
  background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  border: solid 1px black;
}

.cover_image {
  height: 300px;
  width: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: rgba(0, 0, 0 , 0.2);
}

.cover_image img {
  width: 100%;
}

.header_info {
  height: 300px;
  width: 100%;
  z-index: 0;
  margin-top: -300px;
  font-family: 'Open Sans', sans-serif;
  text-align: center
}

.profile_picture {
  height: 0px;
  width: 12%;
  overflow: hidden;
  z-index: 0;
  padding-bottom: 12%;
  border: solid 2px white;
  margin: 30px auto 0 auto;
}

.profile_picture img {
  width: 100%;
}

.change_button {
  background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  border: solid 1px black;
  z-index: 0;
  margin-top: -230px;
}

.change_button:hover {
  background-color: rgba(100, 100, 100 , 0.8)
}

.change_cover {
  margin-top: -250px;
    background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  border: solid 1px black;
  z-index: 0;
}

.change_cover:hover {
  background-color: rgba(100, 100, 100 , 0.8)
}

.header_info h1 {
  text-align: center;
  color: white;
  margin-top: 0;
  display: inline-block;
  margin-bottom: 0;
}

.header_info p {
  display: inline-block;
  margin-top: -130px;
  position: relative;
}

.header_info a {
  margin: 0;
}

.user_lists {
  float: left;
  position: fixed;
  width: 200px;
  font-family: 'Open Sans', sans-serif;
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}


.instagram_connect a {
  color: blue;
}

.header_info button {
  position: relative;
  display: inline-block;
  margin-bottom: -30px;

}






