.live_lists_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
}

.add_new {
  height: 250px;
  width: 250px;
  border: dashed 2px rgba(0, 0, 0 , 0.8);
  background-color: rgba(0, 0, 0 , 0.1);
  text-align: center;
  margin: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
}

.add_new:hover {
  background-color: rgba(0, 0, 0 , 0.2);
}
.add_new p {
  text-decoration: none;
  color: rgba(0, 0, 0 , 0.8);
  font-size: 1.25em;
  margin-top: 45px;
}

.add_new i {
font-size: 4em;
color: rgba(0, 0, 0 , 0.8);
}

.list {
  height: 250px;
  width: 250px;
  border: solid 2px rgba(0, 0, 0 , 0.8);
  background-color: rgba(0, 0, 0 , 0.1);
  text-align: center;
  margin: 10px 20px 10px 20px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.list:hover {
  background-color: rgba(0, 0, 0 , 0.2);
}

.list_name {
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
  color: rgba(0, 0, 0 , 0.8);
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}

.edit {
  display: inline-block;
  color: white;
  font-size: 1.5em;
  margin-top: 35px;
  position: absolute;
  right: 0.2em;
  bottom: 0.1em;
}

.edit_list_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
}

.edit_list_container button {
  background-color: rgba(0, 0, 0 , 0.8);
  color: white;
  border: solid 1px black;
}

.edit_list_container button:hover {
  background-color: rgba(100, 100, 100 , 0.8);
}

.manage_list_container {
  margin-left: 230px;
  font-family: 'Open Sans', sans-serif;
  width: 80%;
}

.to_do_list {
  display: inline-block;
  width: 90%;
  height: 100%;
  vertical-align: top;
}

.goal_item {
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin: 1em;
  padding: 0.1em;
  text-align: center;
}

.check_box {
  font-size: 2em;
}

.check_box:hover .fa-square,
.check_box .fa-check-square {
  display: none;
}

.check_box:hover .fa-check-square {
  display: inline;
  color: grey;
}

.goal_text {
  display: inline-block;
  width: 70%;
  text-align: left;
}

.adjust_goal {
  text-align: right;
  display: inline-block;
  width: 29%;
}

.to_do_list h3, .achievements h3 {
  margin-left: 20px;
}

.to_do_list p {
  display: inline-block;
  margin: 5px 20px 0 20px;
}

.new_goal_button {
  background-color: rgba(0, 0, 0 , 0.8);
  border: 2px solid black;
  padding: 0.5em 5em;
  margin: 1em;
  text-align: center;
}
.new_goal_button a {
  color: white;
}

.new_goal_button:hover {
  background-color: grey;
}

.achievements {
  display: inline-block;
  vertical-align: top;
  width: 92%;
  margin-top: 2em;
  margin-bottom: 5em;
}

.update_goal {
  text-align: right;
  position: absolute;
  right: 1em;
  bottom: 0;
}

.update_goal p {
  display: inline-block;
  margin-left: 1em;
}

.achievements .activity {
  position: relative;
}

.handwritten {
 font-family: 'Indie Flower', cursive;
 font-size: 1.2em;
}